<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "The Book of Mormon &mdash; Internet-Annotated Edition" %></title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "narrow", "annotator", "all" %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= page_classes %>">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="<%= if current_page.data.tab == "toc" then "active" end %>"><a href="index.html">Table of Contents</a></li>
          <li class="<%= if current_page.data.tab == "about" then "active" end %>"><a href="about.html">About</a></li>
          <li class="<%= if current_page.data.tab == "contact" then "active" end %>"><a href="contact.html">Contact</a></li>
        </ul>
        <h3 class="text-muted">The Book of Mormon</h3>
      </div>

      <div id="content">
      <%= yield %>
      </div>

      <div class="footer">
        <p>&copy; WordTree Foundation 2014</p>
      </div>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Annotator -->
    <%= javascript_include_tag  "showdown", "annotator-full" %>

    <!-- App-specific -->
    <%= javascript_include_tag "choose-edition", "setup-annotator" %>
  </body>
</html>
